.contaner{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(13, 2, 19)
} 
 /* .square{
    width: 30px;
    height: 30px;*/
    /* background-color: rgb(58, 31, 62); */
 
.square{
    box-shadow: 5px 10px 8px 10px #888888;
}
